# =========================
# System files
# =========================
.DS_Store
Thumbs.db

# =========================
# Power BI temporary files
# =========================
*.tmp
*.bak
*.pbix.autosave

# =========================
# Notes
# Dataset is intentionally included in the repository
# to allow easy cloning and reproduction of the dashboard.
# =========================
